---
layout: default
---

<div id="header" class="row text-center">
  <div id="gradient" class="row">
    <div class="col-sm-12">

      <div class="col-sm-6 col-sm-offset-3" style="padding:40px 0;">
        {% image logo.png alt="HanaHaus Logo" %}
      </div>

      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <p class="lead">
          A community of purpose defining a new caf&eacute; experience where creative 
          individuals and entrepreneurs can come together to meet, socialize, 
          share ideas and connect with experts.
        </p>
        <p class="lead">Join us</p>
      </div>

      <div class="col-sm-6 col-sm-offset-3 work">
        <a href="#work"><i class="fa fa-2x fa-square" style="margin:15px 0;"></i></a>
      </div>

      <div class="col-sm-6 col-sm-offset-3 learn">
        <a href="#learn"><i class="fa fa-2x fa-play fa-rotate-270" style="margin:15px 0;"></i></a>
      </div>

      <div class="col-sm-6 col-sm-offset-3 play">
        <a href="#play"><i class="fa fa-2x fa-circle" style="margin:15px 0;"></i></a>
      </div>

      <div class="col-sm-6 col-sm-offset-3">
        <a href="#work"><i class="fa fa-2x fa-arrow-circle-o-down" style="margin:15px 0 30px;"></i></a>
      </div>

    </div>
  </div>
</div>

<!-- WORK -->
<div id="work" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="col-sm-5 content">
        <h1>WORK</h1>
        <i class="fa fa-3x fa-square" style="margin:15px 0;"></i>
        <p>Enjoy the best work and collaboration environment.</p>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:10/page:1" target="_blank" class="btn btn-block btn-default" role="button">Single Seat</a>
          </div>
          <div class="col-sm-5">
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:13/page:1" target="_blank" class="btn btn-block btn-default" role="button">Group Seating</a>
          </div>
        </div>
        <div class="row" style="padding-top:5px;">
          <div class="col-sm-5 col-sm-offset-1">
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:7/page:1" target="_blank" class="btn btn-block btn-default" role="button">Conference</a>
          </div>
          <div class="col-sm-5">
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:6/page:1" target="_blank" class="btn btn-block btn-default" role="button">Quiet Room</a>
          </div>
        </div>
      </div>
      <div class="img col-sm-7 pull-right"></div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12 content">
        <h1>WORK</h1>
        <i class="fa fa-3x fa-square" style="margin:15px 0;"></i>
        <p>Enjoy the best work and collaboration environment.</p>
        <div class="row">
          <div class="col-sm-12">
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:10/page:1" target="_blank" class="btn btn-block btn-default" role="button">Single Seat</a>
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:13/page:1" target="_blank" class="btn btn-block btn-default" role="button">Group Seating</a>
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:7/page:1" target="_blank" class="btn btn-block btn-default" role="button">Conference</a>
            <a href="http://hanahaus.elasticbeanstalk.com/index.php?controller=pjAdminOptions&action=pjActionPreview#!/Items/date_from:/hour_from:/minute_from:/date_to:/hour_to:/minute_to:/category:6/page:1" target="_blank" class="btn btn-block btn-default" role="button">Quiet Room</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LEARN -->
<div id="learn" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="img col-sm-7"></div>
      <div class="col-sm-5 content pull-right">
        <h1>LEARN</h1>
        <i class="fa fa-3x fa-play fa-rotate-270" style="margin:15px 0;"></i>
        <p>Gain knowledge, skills and sozialize at HanaHaus events.</p>
        <a href="http://www.eventbrite.com/o/hanahaus-7998519433" target="_blank" class="btn btn-link" role="button">Events</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12 content">
        <h1>LEARN</h1>
        <i class="fa fa-3x fa-play fa-rotate-270" style="margin:15px 0;"></i>
        <p>Gain knowledge, skills and sozialize at HanaHaus events.</p>
        <a href="" class="btn btn-link" role="button">Events</a>
      </div>
    </div>
  </div>
</div>

<!-- PLAY -->
<div id="play" class="row text-center">
  <div class="col-sm-12 hidden-xs">
    <div class="row">
      <div class="col-sm-5 content">
        <h1>PLAY</h1>
        <i class="fa fa-3x fa-circle" style="margin:15px 0;"></i>
        <p>There are plenty of fun things to do at HanaHaus.</p>
        <a href="" class="btn btn-link" role="button" style="visibility:hidden;"></a>
      </div>
      <div class="img col-sm-7 pull-right"></div>
    </div>
  </div>

  <div class="col-sm-12 visible-xs">
    <div class="row">
      <div class="col-sm-12 content">
        <h1>PLAY</h1>
        <i class="fa fa-3x fa-circle" style="margin:15px 0;"></i>
        <p>There are plenty of fun things to do at HanaHaus.</p>
      </div>
    </div>
  </div>
</div>

<!-- TABS -->
<div class="row" role="tabpanel" style="background:#f2f2f2">
 <div class="col-sm-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active" style="width:25%">
        <a href="#about" aria-controls="about" role="tab" data-toggle="tab">About Us</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">Menu</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">Partners</a>
      </li>
      <li role="presentation" style="width:25%">
        <a href="#find" aria-controls="find" role="tab" data-toggle="tab">Find Us</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active fade in" id="about">
        {% include about.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="menu">
        {% include menu.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="partners">
        {% include partners.html %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="find">
        {% include find.html %}
      </div>
    </div>

  </div>
</div>

<!-- SOCIAL -->
<div id="social" class="row text-center">
  <div class="col-sm-2 col-sm-offset-2">
    <a target="_blank" href="http://www.twitter.com/hanahaus">
      <i class="fa fa-3x fa-twitter"></i><br />
      <span>@hanahaus</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a target="_blank" href="https://instagram.com/hanahausbayarea">
      <i class="fa fa-3x fa-instagram"></i><br />
      <span>instagram</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a target="_blank" href="https://www.facebook.com/hanahaus">
      <i class="fa fa-3x fa-facebook"></i><br />
      <span>hanahaus</span>
    </a>
  </div>

  <div class="col-sm-2">
    <a target="_blank" href="http://www.yelp.com/biz/hanahaus-palo-alto">
      <i class="fa fa-3x fa-yelp"></i><br />
      <span>yelp</span>
    </a>
  </div>
</div>

<div id="footer" class="row text-center">
 <div class="col-sm-12">
  Copyright &copy; {{ site.time | date: '%Y' }} HanaHaus. All rights reserved. <a href="{{ site.baseurl }}/privacy.html">Privacy Policy</a>.
 </div>
</div>
