<div class="row" style="background:#E9E7DE">
  <div class="col-sm-7 col-sm-offset-1" style="padding-top:30px; padding-bottom:30px;">
    <p>
      HanaHaus is a caf&eacute; and community workspace that fosters a vibrant culture of technology innovation.
    </p>
    <p>
      HanaHaus is located in the historic “New Varsity Theater,” which opened in Palo Alto in the 1920s and operated as a movie theater and then a Borders bookstore. An anchor among the shops and restaurants along University Avenue, the building is a historic site in Palo Alto, remembered by many local residents as a central hub of activity. Building on this legacy, every aspect of the new 15,000-square-foot facility is designed to encourage community, connection and creativity.  The vision of HanaHaus is to once again create a centrally located, widely used venue that contributes to the urban vitality of Palo Alto.  
      <small>&mdash; <a data-toggle="collapse" href="#more" aria-expanded="false" aria-controls="more">more</a></small>
    </p>

    <div id="more" class="collapse">
      <p>
        Offering the best of caf&eacute; culture with numerous add-on services, HanaHaus seeks to bring people together to work, learn and play. It will host speakers, design thinking workshops, “maker” events, innovation showcases, music and more. HanaHaus is also creating a tech desk, where entrepreneurs and others who are passionate about technology can connect with experts and services in a host of areas, from user interface design to software architecture. 
      </p>
      <p>
        Caf&eacute; patrons will find ample free seating at HanaHaus. The space also features work areas that can be rented by the hour and a larger space – also available for rent – that seats 100 people. Local favorite Blue Bottle Coffee is providing caf&eacute; service and freshly prepared meals for breakfast, lunch and dinner. 
      </p>
      <p>
        HanaHaus is the brainchild of Dr. Hasso Plattner, co-founder of German software company SAP AG, who has been deeply committed to innovation since he and four others launched the company in 1972. SAP believes that to be an innovation leader, it must act beyond its own walls, and it is eager to support Palo Alto’s rich tradition of entrepreneurship. HanaHaus is rooted in the philosophy that great ideas spring from anywhere and often emerge when people come together. It aims to spark new thinking that impacts people’s lives by changing their relationship to technology, each other and the world. 
      </p>
    </div>

  </div>
</div>