<div class="row" style="background:#E9E7DE">
  <div class="col-sm-7 col-sm-offset-1" style="padding-top:30px; padding-bottom:30px;">
    <p>
      HanaHaus is a caf&eacute; and community workspace that fosters a vibrant culture of technology innovation.
    </p>
    <p>
      It is the brainchild of Dr. Hasso Plattner, co-founder of software company SAP. SAP believes that to be an innovation leader, it must act beyond its own walls and is eager to support Palo Alto’s rich tradition of entrepreneurship.  
      <small>&mdash; <a data-toggle="collapse" href="#more" aria-expanded="false" aria-controls="more">more</a></small>
    </p>
      <p>
        Offering the best of café and co-working culture; HanaHaus is rooted in the philosophy that great ideas spring from anywhere and often emerge when people come together.        <small>&mdash; <a data-toggle="collapse" href="#more" aria-expanded="false" aria-controls="more">more</a></small>
      </p>
    <div id="more" class="collapse">
      <p>
        HanaHaus aims to spark new thinking that impacts people’s lives by changing their relationship to technology, each other and the world. HanaHaus brings people together and provides a welcoming space where they can connect with each other, explore new ideas and ultimately bring these ideas to life. 
      </p>
      <p>
        What are you waiting for? Stop by and enjoy local favorite Blue Bottle Coffee serving food and beverages on location!
      </p>
      <p>
     </p>
    </div>

  </div>
</div>