<div class="row" style="background:#E9E7DE">
  <div class="col-sm-7 col-sm-offset-1" style="padding-top:30px; padding-bottom:30px;">

<p><strong>What is HanaHaus?</strong></p>
<p>HanaHaus is a café and community workspace that fosters a vibrant culture of technology innovation. It is located in one of Palo Alto’s most historic buildings, the “New Varsity Theater” on University Avenue. Designed to be a place where people work, learn and play, HanaHaus offers the best of café culture with numerous add-on services and events. </p>
<p>Local favorite <strong>Blue Bottle Coffee</strong>  is providing café service and freshly prepared meals for breakfast, lunch and dinner. HanaHaus also offers: </p>
<ul>
    <li>Workspaces that can be rented for a small fee by individuals and groups</li>
    <li>An assembly space for special events put on by HanaHaus or others who rent it out</li>
    <li>Design thinking workshops, innovation showcases, speakers, musical events and more</li>
    <li>A tech desk where entrepreneurs and others who are passionate about technology can connect with experts and services in a host of areas, from user interface design to software architecture. </li>
</ul>

<small><a data-toggle="collapse" href="#more-faq" aria-expanded="false" aria-controls="more">more</a></small>

<div id="more-faq" class="collapse">
    
<p><strong>Who is behind HanaHaus?</strong></p>
<p>HanaHaus is the brainchild of Dr. Hasso Plattner, one of the co-founders of global software company SAP SE. Dr. Plattner has been deeply committed to innovation since he and four others struck out on their own to create the company in 1972.  SAP is headquartered in Germany and has offices throughout the world, including a major presence in Palo Alto. It is the world’s leader in enterprise application software and is widely recognized as transforming how companies conduct their business processes and operations.</p>

<p><strong>Why did SAP launch HanaHaus?</strong></p>
<p>The company’s roots lie in innovation, and to be an innovation leader today, SAP believes it must act beyond its own walls. New ideas spring up from anywhere, and creativity lives outside of traditional boundaries. SAP seeks to play a role in fostering a strong sense of community in the technology industry. HanaHaus supports this vision by bringing people together and providing a space where they can connect with each other, explore new ideas and bring these ideas to life. </p>

<p><strong>What are the goals of HanaHaus?</strong></p>
<p>First and foremost, HanaHaus seeks to bring people together to work, learn and play. </p>
<p>It builds on the legacy of the New Varsity Theater, which was a central hub of activity in Palo Alto dating back to the 1920s. A chief goal is to once again create a centrally located, widely used venue that contributes to the urban vitality of Palo Alto. Every aspect of HanaHaus is designed to encourage community, connection and creativity. Building on the Bay Area’s rich tradition of entrepreneurship and innovation, it aims to spark new thinking that impacts people’s lives by changing their relationship to technology, each other and the world. There is growing recognition that you need cross-pollination of ideas and perspectives to innovate – you can’t work in a silo.</p>

<p><strong>Does Blue Bottle operate just like it does in other locations?</strong></p>
<p>Yes. Blue Bottle will offer café service along with freshly prepared, delicious food for breakfast, lunch and dinner.</p>

<p><strong>Who can come to HanaHaus?</strong></p>
<p>Anyone who wants to enjoy its café and other services – HanaHaus is open to the public and looks forward to welcoming the rich diversity of the region. </p>

<p><strong>How much does it cost to make use of HanaHaus?</strong></p>
<p>Base pricing for individual seating is $3/hour. Free seating is also available for café patrons. </p>

<p><strong>What kind of space is available to rent?</strong></p>
<p>There is a range of space available. Individuals and groups can reserve seats and work tables, as well as open and closed meeting areas and quiet rooms. Groups can also rent out event space. </p>

<p><strong>How can you reserve a workspace?</strong></p>
<p>Both the HanaHaus site and web app enable visitors to reserve space ahead of time.</p>

<p><strong>What are the hours for HanaHaus?</strong></p>
7 am - 9 pm Sunday through Thursday and 7 am - 10 pm Friday and Saturday  

<p><strong>What kinds of special events will HanaHaus have?</strong></p>
<p>HanaHaus aims to offer a range of events and will seek input from the community about what people are most interested in. Ideas include:</p>
<ul>
    <li>Inspirational speakers</li>
    <li>Design thinking workshops</li>
    <li>How-to sessions on topics of interest to the entrepreneurs</li>
    <li>Hackathons</li>
    <li>Musical performances</li>
    <li>Stand-up comedy</li>
    <li>Movies</li>
    <li>Other ideas of interest to the HanaHaus community</li>
</ul>

<p><strong>How can you find out about events at HanaHaus?</strong></p>
<p>Events will be posted on the HanaHaus website and app, as well as on the marquee on the building at 456 University Ave. You can also find details through Eventbrite.</p>

<p><strong>How can you reserve the space for an event?</strong></p>
Contact HanaHaus, inquire in person or via a form on the HanaHaus site.</p>

<p><strong>What kind of parking is available near HanaHaus?</strong></p>
<p>The area around HanaHaus at 456 University Ave. has abundant street parking. There is also a parking lot adjacent to the HanaHaus back entrance.</p>

<p><strong>What public transit takes you to HanaHaus?</strong></p>
<p>Caltrain or local bus service in downtown Palo Alto.</p>

<p><strong>What kind of food and drink is available at HanaHaus?</strong></p>
<p>HanaHaus is excited to offer visitors world-class coffee and tea (courtesy of our partner, Blue Bottle), as well as freshly prepared, delicious meals for breakfast, lunch and dinner. Fare will include much more than pastries or cold food! Wine and beer will be available in late spring or early summer 2015.</p>

<p><strong>What is the tech desk at HanaHaus?</strong></p>
<p>The tech desk is one of the more innovative features at HanaHaus. The core of the idea is to connect entrepreneurs and others who are passionate about technology with the experts and services they need to realize their vision. We aim to feature experts and services in a wide range of areas, from user interface design to software architecture. The tech desk reflects the design thinking process and there are likely to be multiple iterations and prototypes tested in coming months.</p>

<p><strong>What is the meaning of the name HanaHaus?</strong></p>
<p>The name is inspired by one of SAP’s greatest innovations, SAP HANA, whose speed and computing power unlock new possibilities for software to play a transformational role in business and people’s lives. ”Haus” calls to mind the modernist Bauhaus movement in Germany that connected functionality and art, similarly to how technology can elegantly impact people’s lives. “Haus” also literally means “house.” HanaHaus aims to build on these meanings to become a home for inspiration and ideas, one that is shaped by the people who use it and becomes a seamless part of the Palo Alto community.</p>

<p><strong>Is HanaHaus a non-profit or for-profit?</strong></p>
<p>HanaHaus is run by SAP, which is a public, for-profit company headquartered in Germany. SAP operates four offices and employs more than 4,000 people in the Bay Area.</p>

<p><strong>How can I apply to offer my services at the tech desk?</strong></p>
<p>Either in person at HanaHaus or through the HanaHaus web site. </p>

<p><strong>Can I apply to work at HanaHaus? What kinds of positions are available?</strong></p>
<p>Yes, everyone is welcome to check out our job postings and apply when openings come up. You can find job postings on our website or inquire in person at HanaHaus.</p>

</div>

  </div>
</div>