<div class="row" style="background:#E9E7DE">
  <div class="col-sm-3 col-sm-offset-1">

    <h3>Drinks</h3>

    <p>
      espresso<br />
      macchiato<br />
      cappuccino<br />
      caffe latte<br />
      caffe mocha<br />
      hot chocolate<br />
      affogato
    </p>

    <p>milk alternatives: almond and soy</p>

    <p>
      <strong>Iced Coffee:</strong><br />
      New Orleans<br />
      Single Origin
    </p>

    <p>
      <strong>Drip:</strong><br />
      drip du jour
    </p>

    <p>and a variety of hot tea!</p>

  </div>
  <div class="col-sm-4">

    <h3>Food</h3>

    <p>organic yogurt &amp; blue bottle granola with orange compote</p>
    <p>belgian waffle orange compote maple syrup, butter</p>
    <p>blue bottle breakfast sandwich frittata, heritage bacon caramelized onion butter on brioche</p>
    <p>firebrand toast, cut thick with raspberry jam &amp; butter poached eggs</p>
    <p>fennel &amp; arugula salad mint, feta cheese citrus, mission almonds curried cashew soup cauliflower, coconut milk</p>
    <p>chicken &amp; tarragon on toast currants, pickled onions</p>
    <p>ham tartine! ham, gruyere, mustard hot pickles, cilantro</p>
    <p>potatoes &amp; parsley with aioli</p>

  </div>
  <div class="col-sm-3">
    
    <h3>Pastries</h3>

    <p>
      fruit buckle<br />
      roasted orange poundcake<br />
      double chocolate cookie<br />
      saffron vanilla snickerdoodle<br />
      ginger molasses cookie<br />
      maple pecan dandies<br />
      sesame absinthe cigar<br />
      granola<br />
      granola bars<br />
      brownies<br />
      firebrand artisan breads’ pretzels
    </p>

  </div>
</div>