<div class="row" style="background:#E9E7DE">
  <div class="col-sm-5 col-sm-offset-1" style="padding-top:30px; padding-bottom:30px;">
    <p>
      We have amazing partners that currently work with us and we're always happy to 
      discuss ways in which we can grow the community.
    </p>
    <p>
      Our Technology Desk provides a space for technology platform 
      companies to evangelize and support entrepreneurs looking to grow.
    </p>
    <p>
      In addition, we offer a large 8000 sq. ft. "theateresque" space available to rent 
      for your next event. In whichever way HanaHaus can support you, please use the
      form.
    </p>
  </div>
  <div class="col-sm-6">
    <iframe 
      src="https://docs.google.com/forms/d/1MwCj6TdA_SCTvNH7DQUg_oa4OAwVYqUF7RlNhRExp_Q/viewform?embedded=true" 
      width="100%" 
      height="800px" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">
    </iframe>
  </div>
</div>