.nav-tabs {

  font-weight: 100;
  font-size: 22px;
  text-align: center;
  background: #f2f2f2;
  border-bottom: none;
  padding: 20px 5px;

  @media only screen and (max-width: 650px) {
    font-size: 16px;
  }
  @media only screen and (min-width: 650px) and (max-width: 768px) {
    font-size: 18px;
  }

  li {
    a {
      display: inline-block;
      border: none !important;
      background: none;
      white-space: nowrap;
    }
    a:hover {
      border: none !important;
      background: none;
    }
  }

  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background: transparent;
    border-bottom: 2px solid !important;
  }
}