// import sass stuff
@import "mixins";
@import "variables";

// import vendor libs
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// override bootstrap
@import "btn";
@import "tabs";
@import "social";

//
// CUSTOM STYLES
//

#header {

  height: 100vh;
  min-height: 700px;

  @include respond(url(asset_path("header-xs.jpg")), 
                   url(asset_path("header-sm.jpg")), 
                   url(asset_path("header-md.jpg")), 
                   url(asset_path("header-lg.jpg")));

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  #gradient {
    margin: 0;
    height: 100vh;
    min-height: 700px;
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  }
}

#reserve-button {
  background-color: #cfbe27;
}

#work, #learn, #play {
  position: relative;
  overflow: hidden;

  .img {
    position: absolute;
    height: 100%;
  }

  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#work .img {

  @include respond(url(asset_path("work-xs.jpg")), 
                   url(asset_path("work-sm.jpg")), 
                   url(asset_path("work-md.jpg")), 
                   url(asset_path("work-lg.jpg")));
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  right: 0;
}

#learn .img {

  @include respond(url(asset_path("learn-xs.jpg")), 
                   url(asset_path("learn-sm.jpg")), 
                   url(asset_path("learn-md.jpg")), 
                   url(asset_path("learn-lg.jpg")));
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#play .img {

  @include respond(url(asset_path("play-xs.jpg")), 
                   url(asset_path("play-sm.jpg")), 
                   url(asset_path("play-md.jpg")), 
                   url(asset_path("play-lg.jpg")));
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  right: 0;
}

#work {
  .btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#social {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f2f2f2;
}

//
// COLORS
//

#work i, .work i {
  color: $work-color;
  text-shadow: 1px 1px 1px #707070;
}

#play i, .play i {
  color: $play-color;
  text-shadow: 1px 1px 1px #707070;
}

#learn i, .learn i {
  color: $learn-color;
  text-shadow: -1px 2px 1px #707070;
}

//
// GLOBAL STYLES
//

body {
  font-weight: 200;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
}


